/* app css stylesheet */

.table {
  table-layout:fixed;
}

.table td {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/*
 * Progress bars have a large bottom margin for some reason.
 * This looks gross inside of tables.
 * https://github.com/twbs/bootstrap/issues/3905
 */
.table .progress {
  margin-bottom: 0px;
}

.table-condensed .progress {
  margin-bottom: 0px;
}